<div class="d-grid gap-2 d-md-block m-3">

    <h3>Gastos</h3>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="categoria" class="col-sm-2 col-form-label">Categoria</label>
            <div class="col-sm-10">
                <select id="categoria" formControlName="categoria" class="form-control">
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id!">
                        {{ categoria.nombre_categoria }}
                    </option>
                </select>
            </div>
        </div> <br>

        <div class="form-group row">
            <label for="concepto" class="col-sm-2 col-form-label">Gasto/Concepto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="concepto" formControlName="concepto"
                    placeholder="Gasto/Concepto">
            </div>
        </div> <br>

        <div class="form-group row">
            <label for="valor" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="valor" formControlName="valor" placeholder="Valor">
            </div>
        </div> <br>

        <div class="form-group row">
            <label for="fechaRegistro" class="col-sm-2 col-form-label">Fecha de Registro</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fechaRegistro" formControlName="fechaRegistro"
                    placeholder="Fecha de Registro">
            </div>
        </div> <br>

        <div class="form-group">
            <label for="" class="col-sm-2 col-form-label">Factura/Comprobante</label>
            <button id="" type="button" (click)="takePicture()">Seleccionar Foto</button>
            <input type="hidden" class="form-control" id="factura" formControlName="factura" value="{{ imageURL }}">
        </div>

        <div style="margin-top: 15px;">
            <a type="submit" class="btn btn-secondary" style="margin-right: 5px;" routerLink="/gastos">
                Volver
            </a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>