<div class="d-grid gap-2 d-md-block m-3 table-responsive">
  <a class="btn btn-primary" routerLink="/form-gastos">Nuevo Gasto</a>

  <table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Gasto/Concepto</th>
        <th scope="col">Valor</th>
        <th>Fecha de Registro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gasto of gastos">
        <td>{{ gasto.categoria }}</td>
        <td>{{ gasto.concepto }}</td>
        <td>{{ gasto.valor }}</td>
        <td>{{ gasto.fechaRegistro }}</td>
        <td class="text-center">
          <a class="btn btn-primary m-1" title="Ver Factura" target="_blank"
          href="{{ gasto.factura }}">
            <i class="bi bi-file-earmark-text-fill"></i>
          </a>
          <a class="btn btn-primary m-1" routerLink="/form-gastos">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a class="btn btn-primary" href="">
            <i class="bi bi-trash3"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>